@using HotelEden.Models;

@model List<HotelEden.Models.AttractionViewModel>
@{
    ViewBag.Title = "Baños";

    
}

<style>
    .attractionsList{}
    .attractionsList td{padding-bottom:30px}
</style>



<div id="page" class="container">
    <div class="header">
        <h2>Baños</h2>
    </div>
        <table class="attractionsList">
            @foreach (AttractionViewModel thing in Model)
            {
                <tr>
                    <td>
                        <img src="@thing.ImageURL" width="200" />
                    </td>
                    <td style="vertical-align:top">
                        <h3>@thing.Title</h3>
                        <p>@Html.Raw(thing.Description)</p>
                    </td>
                </tr>
            }
        </table>
    </div>