@model HotelEden.Models.Reservation

@{
    ViewBag.Title = HotelEden.SpanishResources.SiteRoomsSuccess;
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>@HotelEden.SpanishResources.SuccessTitle</h2>
@Html.Raw(HotelEden.SpanishResources.SuccessDetails)