<div class="locationWrapper">
    <h3 class="boxContentTitle">Ubicaci&oacute;n</h3>
    <div id="map-canvas"></div>
    <div>
        <dl class="contacts-list">
            <dt>Av. 12 de Noviembre y Montalvo</dt>
            <dt>@HotelEden.SpanishResources.Banos, @HotelEden.SpanishResources.EcuadorShortCode</dt>
            <dt>+(593)-274-0616</dt>
            <!--<dd>1-800-542-6448</dd>-->
        </dl>
    </div>
</div>