/*RoomList*/

.roomList {
    width:100%;
}
.roomList th{font-size:.9em}

/*padding based on h3 for the room title*/
.roomListItem {margin:5px 0px; border-color:brown; }
.roomListItem td{vertical-align:top; padding-top:1.2em;}
.roomListItem img{ width:150px;}
.roomListItem h3{margin:0px;}
.roomListItem .roomTitleColumn{padding:0px 10px 0px 10px;}
.roomListItem .roomThumbColumn{width:150px;padding-top:0em;}
.roomListItem .priceColumn, .totalRow .priceColumn{width:100px; font-weight:bold; font-size:1.1em;}
.roomListItem .priceColumn .costDetails{font-size:.8em; font-weight:normal;margin-top:10px}
.roomListItem .maxGuestsColumn{width:65px}
.roomListItem .maxGuestsColumn .guestsDetails{font-size:.8em; font-weight:normal;margin-top:10px}
.roomListItem .selectColumn{width:100px;}
.roomListItem .selectColumn a, .RoomsSelectRoom{
    padding:3px 5px; background-color:orange; border-radius:2px; border-color:darkorange; border-width:2px; text-decoration:none; color:white; font-weight:bold; width:100px !important; white-space:pre-wrap;height:3.4em; cursor:pointer
}

.roomListItemBreak hr{margin:9px 0px 15px 0px;}

.roomOccupant{background:url('../../../Images/Resources/roomOccupants.png') no-repeat; height:30px; display:inline-block; width:11px}
.disabledNextButton
{
    background-color:gray;
}

/* Email reservation*/
.reservationRoomTypeDetails img{width:200px;}
.reservationRoomTypeDetails h3{margin:0px; color: #fff554;font-size:1.5em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-weight:normal;}
.reservationRoomTypeDetails{
    background-color: #5C3317;
    border-radius:4px;
    padding:5px 15px 5px 15px;
    color: #d5a787;
    margin-bottom:25px;
    /*margin-right:100px;*/
}

/*** Reserve page */
.reserveList td{padding-top:0px;}
.reserveList .lastBreak hr{margin-bottom:0px; border-bottom:none;}
.reserveList .totalRow{background-color:#5C3317;}
.reserveList .totalRow .roomTitleColumn h3{padding-right:5px; padding-left:5px; margin-top:0px;color:#fff554; font-size:1.5em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; font-weight:normal;}

.reserveFormContainer{
    background-color:#5C3317;
    padding:5px;
    border-radius:3px;
}

.reserveFormContainer label
{
    color:#fff554;
}

/*** Home page reservation*/
.homeReservation .validation-summary-errors ul{margin-top:0px; margin-bottom:0px;}

/** Home page*/
#map-canvas { height: 200px; width:100%; }



/*** General   */
.yellowHeader{ color:#fff554; font-size:1.5em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; font-weight:normal;}









/** HomePage Reservation */

.homeReservation {
    width: 310px;
    height: 250px;
}

.homeReservation .formLabel {
color: #D5A787;
font-size: .9em;
text-align: left;
height: 30px;
}

.homeReservation .date {
width: 135px;
margin-right: 5px;
}

.homeReservation .searchDates {
text-align: right;
padding-top: 30px;
height: 30px;
}


/* Location */
#map-canvas { height: 200px; width:90%; }

/* Template Overrides */
.tbox1{ width:688px;}
.tbox2{width:400px; }
.boxContents{margin:20px 0px;background-color: #9e1506; padding:10px 30px; color: #D5A787;}

.boxContentTitle {
color: #FFF554;
font-size: 1.5em;
text-align: center;
}

#page h3 {
    text-transform: none;
}