@model HotelEden.Models.Reservation

@{
    ViewBag.Title = HotelEden.SpanishResources.SiteRoomsSuccess;
    Layout = "~/Views/Shared/_Template.cshtml";
}

<article>
    <h2>@HotelEden.SpanishResources.SuccessTitle</h2>
    @Html.Raw(HotelEden.SpanishResources.SuccessDetails)
</article>

<aside>
    @Html.Partial("Location")
</aside>

@section scripts{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXO2svuBw2vK22y84okRmLvbE50AwBWM&sensor=false">
    </script>
    <script src="~/Scripts/Maps.js" type="text/javascript"></script>
}